.mobile-nav-toggle {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 7.0rem;
  height: 7.0rem;
  padding: 1.8rem 1.8rem 3.1rem;
  background: #275BC8;
  display: none;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 999;
  margin: 0;
  transition: all 0.4s ease-in-out;
  @include media('sp') {
    display: inline-block;
  }
  &::after {
    content: "メニュー";
    position: absolute;
    left: 0.8rem;
    right: 0.8rem;
    bottom: 1.0rem;
    display: block;
    font-family: $font_noto;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #FFFFFF;
    text-align: center;
  }
  .toggle-icon {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    span {
      display: inline-block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: #FFFFFF;
      transition: all 0.4s ease-in-out;
      transform-origin: center center;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: calc(50% - 1px);
      }
      &:nth-child(3) {
        bottom: 0;
      }
    }
  }
  &.toggle-active {
    &::after {
      content: "閉じる";
    }
    .toggle-icon {
      span {
        &:nth-child(1) {
          transform: translateY(9px) rotate(-40deg);
        }
        &:nth-child(2) {
          opacity: 0;
          visibility: hidden;
        }
        &:nth-child(3) {
          transform: translateY(-9px) rotate(40deg);
        }
      }
    }
  }
}

// Mobile Nav
#mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 998;
  right: -100%;
  width: 100%;
  max-width: 600px;
  overflow-y: auto;
  transition: all 0.4s ease-in-out;
  background: #FFFFFF;
  .nav-header {
    position: relative;
    padding: 3.0rem 3.0rem;
    h2 {
      position: relative;
      font-size: 2.0rem;
      font-weight: 700;
      line-height: 3.0rem;
      color: #1A47A4;
      text-align: center;
    }
  }
  .nav-body {
    position: relative;
    padding: 0 3.0rem;
    
  }
  .nav-footer {
    position: relative;
    padding: 2.4rem 3.0rem;
    margin-bottom: 6.0rem;
    .copy {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.5;
      color: #1A47A4;
      text-align: center;
    }
  }
  .mobile-nav-menu {
    position: relative;
    list-style: none;
    display: block;
    padding: 0;
    & > li {
      position: relative;
      ul {
        position: relative;
        list-style: none;
        display: block;
        padding: 1.2rem 0 1.2rem 2.0rem;
        border-top: 1px solid rgba($color: #275BC8, $alpha: 0.3);
        li {
          position: relative;
        }
      }
    }
    .circle-right {
      position: relative;
      display: inline-block;
      width: 2.6rem;
      height: 2.6rem;
      border: 1px solid #275BC8;
      border-radius: 50%;
      transition: all 0.6s cubic-bezier(0.8, 0, 0.2, 1);
      z-index: 3;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 42%;
        display: inline-block;
        width: 36%;
        height: 36%;
        border-left: 0;
        border-bottom: 0;
        border-top: 1px solid;
        border-right: 1px solid;
        border-color: inherit;
        transform: translate(-50%, -50%) rotate(45deg);
        z-index: 1;
      }
    }
    .menu-link {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      font-family: $font_noto;
      font-weight: normal;
      font-size: 1.8rem;
      line-height: 1.5;
      font-weight: 700;
      text-align: left;
      color: #1A47A4;
      padding: 3.0rem 3.0rem;
      text-decoration: none;
      outline: none;
      border-top: 1px solid rgba($color: #275BC8, $alpha: 0.3);
    }
    .menu-btn {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: $font_noto;
      font-weight: normal;
      font-size: 1.8rem;
      line-height: 1.5;
      font-weight: 700;
      text-align: left;
      color: #FFFFFF;
      padding: 4.0rem 6.0rem;
      background: linear-gradient(90deg, #275BC8 0%, #3E388D 100%);
      text-decoration: none;
      outline: none;
      margin-left: -3.0rem;
      margin-right: -3.0rem;
      .circle-right {
        border-color: #FFFFFF;
      }
    }
    .sub-link {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      font-family: $font_noto;
      font-size: 1.6rem;
      line-height: 1.5;
      font-weight: 400;
      text-align: left; 
      color: #1A47A4;
      padding: 1.2rem 3.0rem;
      text-decoration: none;
      outline: none;
      .circle-right {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }
}

.mobile-nav-overly {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 997;
  background: rgba($color: #000000, $alpha: 0.5);
  display: none;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}


/* Mobile Nav body classes */
body.mobile-nav-active {
  @include media('sp') {
    overflow: hidden;
  }
}
body.mobile-nav-active #mobile-nav {
  right: 0;
}